.flex-center{
  width: 100%;
  align-self:auto;
  align-items:center;
  display: flex;
  flex-direction: column;
}

.flex-centre-top{
  height:25vmin;
  width: 100%;
  text-align: center;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.img-header-image{
  width: 60vmin;
  height: auto;
  align-self: auto;
}

.btn-dragon-eye{
  background-color: #1a1209;
  outline: 0;
  border: none;
  align-self: flex-start;
  margin-top: 3vmin;
}

.img-dragon-eye{
  width: 13vmin;
  height: auto;
}

.logo{
  width: 15vmin;
  height: auto;
  align-self: flex-start;
  margin-top: 2vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}