.app{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1a1209;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.app h1{
  color: #C08423;
  line-height: 25px;
}

.app h2{
  color: #f0e6d0;
  margin-left: 20px;
  line-height: 15px;
}

.app h3{
  color: #c29c7f;
  margin-left: 40px;
  line-height: 15px;
}

.app p{
  color: #f0e6d0;
  font-size: 22px;
}